@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.text-animate {
    display: inline-block;
    opacity: 0;
    min-width: 10px;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
}
.text-animate-bounce {
    display: inline-block;
    min-width: 10px;
    animation-fill-mode: both;
}
.text-animate-bounce:hover {
    animation: rubberBand 1s;
    color: #3b82f6;
  }


.profilePTag::before {
  content: "<R>";
  position: absolute;
  top: 2.5rem;
  left: 5rem;
  font-family: 'La Belle Aurore', cursive;
  color: #3b82f6;
}
.profilePTag::after{
  content: "<R/>";
  position: absolute;
  bottom: 2.5rem;
  left: 5rem;
  font-family: 'La Belle Aurore', cursive;
  color: #3b82f6;
}


  .btn-home {
    transition: .2s;
  }
.btn-home:hover {
  color:#1f2c38;
  background-color:#3b82f6;
}
.btn-home:active {
  transform: scale(0.8);
}


/* element skeleton */
/* <body> */
#home::before {
  content: "<body>";
  position: absolute;
  top: 3rem;
  opacity: .7;
  left: 3rem;
  font-family: 'La Belle Aurore', cursive;
  color: #3b82f6;
}



 

  
  