#home::before {
    content: "<body>";
    position: absolute;
    top: 3rem;
    opacity: .7;
    left: 3rem;
    font-family: 'La Belle Aurore', cursive;
    color: #3b82f6;
  }
#contact::before {
    content: "<body/>";
    position: absolute;
    bottom: 2.5rem;
    opacity: .7;
    left: 3rem;
    font-family: 'La Belle Aurore', cursive;
    color: #3b82f6;
}