.text-animate {
    display: inline-block;
    opacity: 0;
    min-width: 10px;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
}
.text-animate-bounce {
    display: inline-block;
    min-width: 10px;
    animation-fill-mode: both;
}
.text-animate-bounce:hover {
    animation: rubberBand 1s;
    color: #3b82f6;
  }

  .btn-home {
    transition: .2s;
  }
.btn-home:hover {
  color:#1f2c38;
  background-color:#3b82f6;
}
.btn-home:active {
  transform: scale(0.8);
}





 
  
  