.logo {
    display: inline-block;
    animation-fill-mode: forwards;
    min-width: 10px;
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 1s;
    animation-delay: .2s;
}

.active-on-scroll::after {
    background-color: #3b82f6 !important;
    width: 100% !important;
  }
  